@charset "utf-8";
body{
    background-color: #e5e9f0;
}
a{
    color: #2e3440;
    font-weight: bold;
}
.container{
    margin-top: 50px !important;
}
.accordion{
    margin-top: 50px;
    margin-bottom: 50px;
}
.accordion-button:not(.collapsed){
    font-weight: bold;
    color: #2e3440;
    background-color: #d8dee9;
}